/**
 * @file
 * custom overrides to bootstrap for Battlegrounds
 */
/**
 * !Variables
 */
/**
 * ! Text
 */
/* line 19, ../_scss/base.scss */
a {
  color: #eeeeee;
}
/* line 22, ../_scss/base.scss */
article a {
  text-decoration: underline;
}
/* line 26, ../_scss/base.scss */
a:hover {
  text-decoration: none;
  color: fuchsia;
}

/**
 * !Global
 */
/* line 37, ../_scss/base.scss */
body {
  background: black url('/img/bg-grid.png?1379212956') repeat top left;
  color: #eeeeee;
  font-size: 18px;
  line-height: 2;
}
/* line 43, ../_scss/base.scss */
body > .container {
  background: transparent url('/img/bg-camo.png?1379213461') no-repeat top center;
  padding-top: 1em;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 48, ../_scss/base.scss */
body > .footer {
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1.5em inherit;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 55, ../_scss/base.scss */
body > .footer p {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/* line 58, ../_scss/base.scss */
body > .footer p a {
  text-decoration: none;
}

/* line 66, ../_scss/base.scss */
nav.navbar {
  background: linear-gradient(#ffffff, #d7d7d7 5px);
  border: 1px solid #333;
  margin-top: 1em auto 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 73, ../_scss/base.scss */
nav.navbar li.active {
  background-color: #fff;
}
/* line 78, ../_scss/base.scss */
nav.navbar a {
  color: #333;
  font-weight: bold;
  text-shadow: #d7d7d7 1px 1px 0;
}
/* line 84, ../_scss/base.scss */
nav.navbar .navbar-toggle {
  color: #333;
  padding: 5px 15px 0;
  margin: 0 auto;
}

/**
 * !Header
 */
/* line 95, ../_scss/base.scss */
.header {
  margin: auto -10px;
}
/* line 98, ../_scss/base.scss */
.header .title img {
  width: 100%;
  height: auto;
}

/**
 * !Responsive
 */
@media (max-width: 768px) {
  /* line 110, ../_scss/base.scss */
  .header {
    margin: auto -5px;
  }
}
