/**
 @file Reusable styles for Battlegrounds web apps
**/

@import "_variables";

/**
 * Battlegrounds Styles
 */

.well {
  border-width: 0;

  > #{headings()} {
    margin-top: 0;
  }
}

body {
  background: $color_background repeat top left fixed;
  color: $color_text;

}

.page {
  min-height: 100vh;
}
.navbar {
  border-width: 0 0 1px 0;
  background-image: none;
  &-nav > li > a {
    text-decoration: none;
    border-right-width: 0;
    border-left-width: 0;
  }
  .navbar-brand img {
    position: relative;
    top: -4px;
  }
  .navbar-toggle {
    padding: 5px 7px 5px 10px;
  }
  &-collapse {
    height: 1px;
  }

}

a {
  text-decoration: underline;
  &.btn {
    text-decoration: none;
  }
}

.footer {
//  @include well;
  margin-bottom: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  .container {
    padding-right:0;
    padding-left: 0;
  }
  p {
    padding-right:0 !important;
    padding-left: 0 !important;
    a {
      text-decoration: none;
    }
  }
}

.video {
  position:relative;
  img {
    width: 100%;
    padding:0;
  }
  .glyphicon {
    display: block;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    background: #e62117;
    top: 40%;
    width: 2em;
    line-height: 1.5em;
    left: 43%;
    border-radius: 5px !important;
    @include box-shadow(rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.8) 0 1px 7px 0);
    @include opacity(0.9);
  }
}

.btn,
.btn:hover {
  background-image: none;
  a{
    text-decoration: none;
  }
}

dd {
  padding-bottom:1em;
}

