/**
 @file Reusable styles for Battlegrounds web apps
**/
@import "compass";
/**
 * !Variables
 */

$color_background: #333;
$color_text: #eee;
$color_background_header: #000;
$font_size: 14px;

$color_ammo     : #5bcf7a;
$color_health   : #cf5c5d;
$color_shield   : #5bb0cf;
$color_location : #cf5bb0;
$color_score    : $color_text;


$neutral-team-color: #414141;
$red-team-color: #ff0000;
$blue-team-color: #0000ff;

/**
 * Mixins
 */

@mixin well {
  @include box-shadow(rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.8) 0 1px 7px 0 inset);
  background: rgba(0,0,0,0.3) none;
  border-color: $color_background;
}

/**
 * Battlegrounds Styles
 */

.well {
  border-width: 0;

  > #{headings()} {
    margin-top: 0;
  }
}

body {
  background: $color_background repeat top left fixed;
  color: $color_text;

}

.page {
  min-height: 100vh;
}
.navbar {
  border-width: 0 0 1px 0;
  background-image: none;
  &-nav > li > a {
    border-right-width: 0;
    border-left-width: 0;
  }
}


.footer {
//  @include well;
  margin-bottom: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  .container {
    padding-right:0;
    padding-left: 0;
  }
  p {
    padding-right:0 !important;
    padding-left: 0 !important;
    a {
      text-decoration: none;
    }
  }
}

.video {
  position:relative;
  padding-bottom: 19px;
  img {
    width: 100%;
    padding:0;
  }
  .glyphicon {
    display: block;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    background: #e62117;
    top: 40%;
    width: 2em;
    line-height: 1.5em;
    left: 43%;
    border-radius: 5px !important;
    @include box-shadow(rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.8) 0 1px 7px 0);
    @include opacity(0.9);
  }
}

.btn,
.btn:hover {
  background-image: none;
}

dd {
  padding-bottom:1em;
}

