---
layout: index
title: About
---

<section id="indiegogo">
  <video id="indiegogoVideo" muted="muted" poster="{{ site.basepath }}video/game_footage.jpg" autoplay loop>
    <source src="{{ site.basepath }}video/game_footage_noaudio.mp4"  type="video/mp4">
  	<source src="{{ site.basepath }}video/game_footage.webm" type="video/webm">
  	<source src="{{ site.basepath }}video/game_footage.ogg"  type="video/ogg">
  </video>
  <h1 class="text-center"><a href="#">
    IndieGoGo Coming Wednesday!
    {% comment %}
    Get early access to our first playing field!! <br/>
    <small id="indieCountDown">Our Indiegogo campaign ends on January 12</small>{% endcomment %}
  </a></h1>
</section>

<section id="about" class="well">
  <h1>About</h1>

  <article class="container">
    <div class="row"><div class="col-xs-12">
    <p class="lead">Founded in 2012, our mission at Battlegrounds is to build an advanced technology laser tag facility that creates a live gaming experience inspired by our love of video games.</p>

    <p>We share a love of video games as well as combat sports - Halo and Mass Effect to paintball and airsoft. We’ve seen video games evolve considerably over the last 15 years, but objective-based combat sports have not.</p>

    <p>Laser tag and paintball do not offer the kind of rich, interactive experience that people have come to expect from video games. Messy paint and black light arenas were fine 20 years ago, but they haven’t kept up with advancements in gaming and technology. Time to change that.</p>

    <p>We have set out to make Battlegrounds a tightly integrated combination of:</p>
    <ul>
      <li>Advanced player hardware</li>
      <li>A networked, interactive playing field</li>
      <li>A highly detailed and customizable player experience</li>
      <li>A social centre, where players can connect, compete and build a community</li>
    </ul>

    <p>Through team-based competitive play, individual stat tracking, responsive field objectives, and force-feedback player hardware, we are creating a brand-new live gaming experience previewing in September 2014 and launching 2015.</p>
    </div></div>
  </article>

</section>

<section id="team">
  <h1>Team</h1>
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
      <article class="bio panel col-md-2 col-xs-5 ">
        <img class="img-responsive" src="{{ site.basepath }}img/team/240/miles.jpg" height="188" width="188"/>
        <footer class="panel-footer">
          <h4>Miles Bossons
          <br/><small>Founder & CEO</small></h4>
          <p>Favourite game:<br/>Battlefield 4</p>
        </footer>
      </article>

      <article class="bio panel col-md-2 col-md-offset-1 col-xs-5 col-xs-offset-2">
        <img class="img-responsive" src="{{ site.basepath }}img/team/240/harley.jpg" height="188" width="188"/>
        <footer class="panel-footer">
          <h4>Harley Balabanian
          <br/><small>Systems Engineer</small></h4>
          <p>Favourite game:<br/>Super Metroid</p>
        </footer>
      </article>

      <article class="bio panel col-md-2 col-md-offset-1 col-xs-5">
      <img class="img-responsive" src="{{ site.basepath }}img/team/240/andrew.jpg" height="188" width="188"/>
        <footer class="panel-footer">
          <h4>Andrew Murray
          <br/><small>Software Designer</small></h4>
          <p>Favourite game:<br/>Dwarf Fortress</p>
        </footer>

      </article>

      <article class="bio panel col-md-2 col-md-offset-1 col-xs-5 col-xs-offset-2">
        <img class="img-responsive" src="{{ site.basepath }}img/team/240/katie.jpg" height="188" width="188"/>
        <footer class="panel-footer">
          <h4>Katie McGuire
          <br/><small>Project Coordinator</small></h4>
          <p>Favourite game:<br/>Portal</p>
        </footer>
      </article>
     </div></div> <div class="row"><div class="col-xs-12">
      <article class="bio panel col-md-2 col-xs-5">
        <img class="img-responsive" src="{{ site.basepath }}img/team/240/tom.jpg" height="188" width="188"/>
        <footer class="panel-footer">
          <h4>Tom Zabev
          <br/><small>Systems Engineer</small></h4>
          <p>Favourite game:<br/>Half Life 2</p>
        </footer>
      </article>

      <article class="bio panel col-md-2 col-md-offset-1 col-xs-5 col-xs-offset-2">
        <img class="img-responsive" src="{{ site.basepath }}img/team/240/pat.jpg" height="188" width="188"/>
        <footer class="panel-footer">
          <h4>Pat Quinn
          <br/><small>Events Coordinator</small></h4>
          <p>Favourite game:<br/>Super Smash Bros. Melee</p>
        </footer>
      </article>

      <article class="bio panel col-md-2 col-md-offset-1 col-xs-5">
      <img class="img-responsive" src="{{ site.basepath }}img/team/240/don.jpg" height="188" width="188"/>
      <footer class="panel-footer">
        <h4>Donald Papp
        <br/><small>Electrical Engineer</small></h4>
        <p>Favourite game:<br/>Mass Effect</p>
      </footer>
    </article>
      </div>
    </div>
    </div>
  </div>
</section>

<section id="press" class="well">
  <h1>Press</h1>
  <div class="container"><div class="row">
     <a class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" href="http://www.bnn.ca/Video/player.aspx?vid=366902">
       <img class="img-responsive" src="{{ site.basepath }}img/press/bnn.png" alt="Business News Network"/>
     </a>
     <a class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" href="http://youtu.be/ZTc7ItjVt-M">
       <img class="img-responsive" src="{{ site.basepath }}img/press/trendhunter.png" alt="Trendhunter"/>
     </a>
     <a class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" href="http://www.thestar.com/business/2014/10/13/laser_tag_with_the_halo_effect.html">
       <img class="img-responsive" src="{{ site.basepath }}img/press/toronto_star.png" alt="Toronto Star"/>
     </a>
     <a class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2" href="http://motherboard.vice.com/read/battlegrounds-is-the-laser-tag-of-the-future">
       <img class="img-responsive" src="{{ site.basepath }}img/press/vice.png" alt="Vice Motherboard"/>
     </a>
    <footer class="col-sm-6 col-sm-offset-3 col-xs-12">
      <a href="{{ site.basepath }}press" class="btn btn-default btn-block">
        Read More
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </footer>
  </div></div>
</section>

<section id="gallery">
  <div id="gallery-wide" class="carousel slide row" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/featured/2000/bggallery1.jpg" class="lazy lg" alt="Red team holding their position.">
        <img src="img/featured/720/bggallery1.jpg" class="lazy sm" alt="Red team holding their position.">
      </div>
      <div class="item">
        <img src="img/featured/2000/bggallery2.jpg" class="lazy lg" alt="A player carefully choosing their target.">
        <img src="img/featured/720/bggallery2.jpg" class="lazy sm" alt="A player carefully choosing their target.">
      </div>
      <div class="item">
        <img src="img/featured/2000/bggallery3.jpg" class="lazy lg" alt="Red team preparing for a game.">
        <img src="img/featured/720/bggallery3.jpg" class="lazy sm" alt="Red team preparing for a game.">
      </div>
      <div class="item">
        <img src="img/featured/2000/bggallery4.jpg" class="lazy lg" alt="Blue team defending their position.">
        <img src="img/featured/720/bggallery4.jpg" class="lazy sm" alt="Blue team defending their position.">
      </div>
      <div class="item">
        <img src="img/featured/2000/bggallery5.jpg" class="lazy lg" alt="Teams relaxing after a game.">
        <img src="img/featured/720/bggallery5.jpg" class="lazy sm" alt="Teams relaxing after a game.">
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#gallery-wide" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#gallery-wide" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#gallery-wide" data-slide-to="0" class="active"></li>
      <li data-target="#gallery-wide" data-slide-to="1"></li>
      <li data-target="#gallery-wide" data-slide-to="2"></li>
      <li data-target="#gallery-wide" data-slide-to="3"></li>
      <li data-target="#gallery-wide" data-slide-to="4"></li>
    </ol>
  </div>
</section>

{% comment %}
<section id="blog" class="well">
  <h1>Blog</h1>
  <div class="container">

    {% for post in site.categories.blog limit:3  %}
    <article class="row">
      {% if post.video %}
      <a href="{{ post.video }}" class="video col-xs-4">
        <img src="http://img.youtube.com/vi/{{ post.video | replace: 'http://youtube.com/watch?v=', '' }}/hqdefault.jpg" class="video img-responsive col-xs-12"/>
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </a>
      {% endif %}
      <div class="col-xs-8">
        <h4>{{ post.date | date: "%B %-d, %Y"}}</h4>
        {{ post.content }}
      </div>
    </article>
    {% endfor %}
    <div class="row"><footer class="col-sm-6 col-sm-offset-3 col-xs-12">
      <a class=" btn btn-default btn-block" href="{{ site.basepath }}blog">
        Read More
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </footer></div>
  </div>
</section>
{% endcomment %}

<section id="contact">
  <h1>Contact Us</h1>
  <div class="container"><div class="row">
    <dl class="col-sm-6 col-xs-12">
      <dt>For general or media related inquires:</dt>
      <dd><a href="mailto:contact@battlegrounds.net">contact@battlegrounds.net</a></dd>

      <dt>For info about gaming or bookings:</dt>
      <dd><a href="mailto:gaming@battlegrounds.net">gaming@battlegrounds.net</a></dd>

      <dt>For business or investor related inquiries:</dt>
      <dd><a href="mailto:business@battlegrounds.net">business@battlegrounds.net</a></dd>

    </dl>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="col-sm-6 col-xs-12">
      <form action="http://battlegrounds.us7.list-manage.com/subscribe/post?u=b2c990b843cd7422100f50713&amp;id=078b9add0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp form-inline clearfix  well" target="_blank" novalidate>
        <h3>Sign up for our mailing list. <br/><small>Fresh updates, straight to your inbox!</small></h3>
        <label for="mce-EMAIL" class="sr-only">Email Address </label>
        <input type="email" value="" name="EMAIL" placeholder="you@email.com" class="required col-xs-12 col-sm-offset-1 col-sm-6 email" id="mce-EMAIL">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button col-xs-12 col-sm-offset-1 col-sm-3 btn btn-success">
        <div id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div></div>

</section>
