/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "_partials/_variables";

#about,
#team,
#press,
#contact {
  padding-bottom: 60px;
  padding-top: 60px;

}

#team .bio {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 60px;
  background: #3e444c;
  img { width: 100% !important; }
  @media only screen and (min-device-width: $screen-sm-min) {
    h4 { word-spacing: 50em; }
    small {word-spacing: normal; }
  }
  @media only screen and (max-width: $screen-sm-min) {
   h4 { word-spacing: normal; }
  }
}

#gallery {
  overflow-x: hidden;
  padding-bottom: 0;
  padding-top: 0;
  img {
    width:100%;
    &.lg { display: none; }
    &.sm { display: block; }
    @media only screen and (min-width: $screen-sm-min) {
      &.lg { display: block; }
      &.sm { display: none; }
    }
  }
}

#indiegogo {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  background-image: url('../video/game_footage.jpg');
  background-repeat: no-repeat;
  @include background-size(cover);
  @media only screen and (min-width: $screen-sm-min) {
    background-image: none;
  }
  h1 {
    background: $color_background_header;
    z-index: 100;
    text-transform: none;
    padding: 0 0;
    position: relative;
    margin: 60px auto;
    width: 100%;
    left: 0;
    @media only screen and (min-width: $screen-sm-min) {
      top: 33%;
      width: 110%;
      left: -5%;
      margin: 0;
      position: absolute;
      @include rotate(3deg);
    }
    a {
      padding: 0.75em 5%;
      display: block;
      text-decoration: none;
      &:hover {
       text-decoration: none;
        background: $color_background;
      }
      @media only screen and (min-width: $screen-sm-min) {
        padding: 0.75em 5em;
      }
    }
  }
  video {
    display:none;
    width: 100%;
    max-width:100%;
    @include opacity(0.5);
    @media only screen and (min-width: $screen-sm-min) {
      display: block;
    }
  }
}

#contact {
  dl {
    text-align: center;
    padding: 19px 15px;
  }

  #mc_embed_signup {
    h3 {
      text-align: center;
    }

    input {
      padding: 8px 12px;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
