<!DOCTYPE html>
<html>
    <head>
      <!--
        ######     ##   ###### ###### ##     ######  #####   #####   ######  ##  ###  ###  ##  ######   #####
        #######    ##   ###### ###### ##     ###### #######  ######  ######  ##  ###  ###  ##  ######  #######
        ##  ###   ####    ##     ##   ##     ###    ###  ##  ##  ##  ##  ##  ##  ###  #### ##  ##  ##  ###  ##
        ##  ###  ######   ##     ##   ##     ###    ###      ##  ##  ##  ##  ##  ###  #### ##  ##  ##  ###
        ######   ### ##   ##     ##   ##     #####  ### ###  ## ###  ##  ##  ##  ###  #### ##  ##  ##  ######
        ######   ### ##   ##     ##   ##     #####  ### ###  ######  ##  ##  ##  ###  #######  ##  ##   ######
        ##  ###  ##  ###  ##     ##   ##     ###    ###  ##  ## ##   ##  ##  ##  ###  #######  ##  ##       ##
        ##  ###  #######  ##     ##   ##     ###    ###  ##  ## ###  ##  ##  ##  ###  ### ###  ##  ##  ###  ##
        #######  #######  ##     ##   ###### ###### #######  ##  ##  ######  #######  ### ###  ######  #######
        ######  ###   ##  ##     ##   ###### ######  ######  ##  ##  ######  ######   ### ###  ######   #####
        -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" />
        <link rel="stylesheet" href="/css/base.css">
    </head>
    <body>
      <div class="page container">
        <!-- Header -->
        <header class="header">
          <h1 class="title"><a href="/"><img src="/img/logo.png" alt="{{ site.title }} {{ site.tagline }}" class="img-responsive"/></a></h1>
        </header>

        <!-- Navbar -->
        <nav id="nav" class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <i class="icon-list"></i>
            </button>
            <a href="{{ page.url | remove:'index.html' }}" class="navbar-brand visible-xs">{{ page.title }}</a>
          </div>
          <div class="navbar-collapse collapse in">
            <ul class="nav navbar-nav ">
              {% for nav in site.pages %}
                {% if nav.group == 'navigation' %}
                  {% if page.url == nav.url %}
                    <li class="active hidden-xs">
                  {% else %}
                    <li>
                  {% endif %}
                  <a href="{{ nav.url | remove:'index.html'}}">{{ nav.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>

        {{ content }}
      </div>
      <footer class="footer">
        <div class="container">
          <div class="col-sm-8">
            {{ site.title }}<br />
            {{ site.tagline }}<br />
            <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
          </div>
          <div class="col-sm-4">
            <div><a href="https://twitter.com/{{ site.contact.twitter }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ site.contact.twitter }}</a></div>
            <div class="fb-like" data-href="http://facebook.com/{{ site.contact.facebook }}" data-width="180" data-colorscheme="dark" data-show-faces="true" data-send="false"></span> </div>
          </div>
        </div>
      </footer>
      <!-- Twitter Bootstrap -->
      <script src="//code.jquery.com/jquery.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <!-- Custom -->
      <script src="/js/scripts.js"></script>
      <script>
      <!-- Twitter follow code -->
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        <!-- Facebook like script -->
        (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=40689804597"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
        <!-- Google Analytics -->
        var _gaq = _gaq || [];_gaq.push(['_setAccount', '{{ site.googleanalytics }}']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
      </script>
      <div id="fb-root"></div>
      </body>

</html>
